version: 2.1

# Docker認証してイメージ取得
jobs:
  build:
    docker:
      - image: captainkaeru/ruby-getting-started-app-prod:latest
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Deployment Completion Notification
          command: echo "Deployment to production has been completed successfully"

workflows:
  deploy-prod:
    jobs:
      - build
