version: 2.1

# Docker認証してイメージ取得
jobs:
  build:
    docker:
      - image: captainkaeru/ruby-getting-started-app-prod:latest
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD

workflows:
  deploy-prod:
    jobs:
      - build
